@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Welcome</h1>
        <a href="/Home/Login">Sign In</a>
        <a href="/Home/RegisterDevice">Register Device</a>
    </div>
</body>
</html>
